i {
    font-style: italic;
}

.linha {
    width: 0;
    height: 2px;
    background: #050555;
    border: none;
    margin: 2em auto 1em;
    transition: width 0.4s ease-in-out;
}

.titulo-secao {
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    margin: 3em 0 1em 0;
    color: #050555;
}

.secao-perfil {
    display: flex;
    justify-content: center;
    padding: 3em 3em 2em 3em;
    gap: 16px;
}

.box-perfil {
    width: 80%;
}

.box-gray {
    background: #D2E9E9;
    padding: 1.5em;
    border-radius: 4px;
}

.flexbox {
    display: flex;
    align-items: center;
    gap: 6px;
}

.text,
.text p {
    line-height: 24px;
    color: #050555;
    font-weight: 500;
    font-size: 1.025em;
}

.text p {
    text-align: justify;
}

.text-box_perfil h3,
.artigo-emprego_text h2 {
    color: #1760b3;
    line-height: 36px;
    font-size: 1.625em;
    font-weight: 700;
    margin: 1em 0; 
}

.bold {
    font-weight: 800;
}

.perfil-img {
    width: 50%;
}

.text-center {
    text-align: center;
}

.text-center p {
    width: 90%;
    margin: auto;
}

.text-areas {
    width: 80%;
    margin: auto;
    font-size: 1.15em;
    font-weight: 500;
    line-height: 28px;
    margin: 3em auto 0 ;
}

.secao-areas_grid {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    gap: 16px 6em;
    margin: 5em 0 6em 0;
}

.secao-areas_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 24px;
    border-radius: 16px;
    background: #C4DFDF;
    text-decoration: none;
    transition: background 0.4s ease-in-out;
}

.secao-areas_button:hover {
    background: #9eb6b6;
}

.secao-areas_button:active {
    background: #809292;
}

.text-button_areas {
    width: fit-content;
    position: relative;
    font-size: 1.25em;
    font-weight: 600;
    color: #050555;
}

.barra-secao_areas {
    display: block;
    position: absolute;
    margin-top: 2px;
    height: 3px;    
    background-color: #050555;
    width: 0;
    animation: barrinhaReverse 0.4s ease-in both;
}

.secao-areas_button:hover .barra-secao_areas {
    animation: barrinha 0.4s ease-in both;
}

.secao-empregos {
    padding-bottom: 5em;
}

.artigo-emprego {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5em 0;
    flex-direction: row;
}

.ancora:nth-child(even) .artigo-emprego{
    flex-direction: row-reverse;
}

.artigo-emprego_text {
    width: 40%;
}

.artigo-emprego_text h2{
    text-align: center;
    font-size: 1.75em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
}

.artigo-emprego p {
    line-height: 28px;
    color: #050555;
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 16px;
    text-align: justify;
}

.artigo-emprego p > a {
    font-size: 1em;
    display: block;
    text-align: center;
    font-weight: 500;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    transform: translateY(1.5em);
}

.img-container img {
    width: 600px;
    height: fit-content;
}

.linguagens {
    text-align: center;
}

.linguagens h4 {
    font-size: 1.3em;
    color: #050555;
    font-weight: 600 ;
}

.linguagens_icones {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin: 10px 0;
}

.linguagens_icones img {
    width: 50px;
    filter: grayscale(100%) drop-shadow(3px 3px 5px #000);
    transition: all 0.2s ease-in;
    
}

.linguagens_icones img:hover {
    scale: 1.1;
    filter: grayscale(0) drop-shadow(4px 4px 2px #000);
}

.linguagens span {
    display: block;
    color: #050555;
    font-size: 0.9em;
    font-weight: 600;
}

.seta {
    width: 50px;
}

.seta:hover {
    opacity: 0.75;
}

.seta:active {
    transform: scale(0.95);
}

.esquerda {
    rotate: 180deg;
}

.transparente,
.transparente:hover {
    opacity: 0;
    cursor: auto;
}

@media screen and (max-width: 1024px) {

    .titulo-secao {
        font-size: 2em;
    }

    .secao-perfil {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .secao-areas_grid {
        gap: 16px 1.2em;
    }

    .artigo-emprego,
    .ancora:nth-child(even) .artigo-emprego {
        flex-direction: column;
    }

    .artigo-emprego_text {
        width: 70%;
    }

    .secao-areas_button {
        flex-direction: column;
    }

    .img-container img {
        width: 450px;
    }

    .linguagens_icones img {
        width: 50px;
    }
}