footer {
    color: #000;
    background-color: #b9ceeba4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3em 0;
    border-right: 2px solid #000;
}

#footer_logo h1 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0.75rem;
}

#footer_logo p {
    font-size: 20px;
}

#footer_rede-social {
    display: flex;
    gap: 1.3rem;
    margin-top: 0.6rem;
}

.icons_footer {
    width: 35px;
    transition: all 0.3s ease-in-out;
}

.icons_footer:hover {
    transform: scale(1.3);
}

.icons_footer-2 {
    width: 25px;
}

.github {
    filter: brightness(0);
}

.github:hover {
    filter: brightness(2);
}

.sec_contact {
    margin-top: 15px;
}

.info {
    text-align: center;
}

.info li {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.contact .info li {
    display: flex;
    margin-bottom: 16px;
}

.contact.info li span:nth-child(1) {
    color: #aaa;
    font-size: 20px;
    margin-left: 10px;
}

.info li span {
    color: #000;
}

.info a {
    color: #000;
    text-decoration: none;
}

.content_qrcode {
    text-align: center;
}

.qrcode {
    width: 130px;
    margin-left: 0px;
}

.qiclinks h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 10px;
}

.qiclinks li {
    list-style: none;
}

.qiclinks li a {
    color: #000;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;

}

.dev {
    width: fit-content;
    position: relative;
}

.barra-footer {
    display: block;
    position: absolute;
    height: 3px;
    background-color: #21457E;
    width: 55px;
    animation: barrinha-footerReverse
     0.2s ease-in both;
}

.dev:hover>.barra-footer {
    animation: barrinha-footer 0.2s ease-in both;
}   


@keyframes barrinha-footer {
    from {
        width: 55px;
    }

    to {
        width: 100%;
    }
}

@keyframes barrinha-footerReverse {
    from {
        width: 100%;
    }

    to {
        width: 55px;
    }
}

.copyrighttext {
    border-right: 2px solid #000;
    background-color: #87a8d098;
    padding: 6px;
    text-align: center;
}

.copyrighttext p {
    font-size: 12px;
    text-align: center;
}
