
.blur_background {
    text-align: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.39);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.video_box {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.video_background {
    display: block;
    margin: auto;
    width: 100vw;
}

.secao_paragrafo-text {
    font-size: 3em;
    font-weight: 500;
    color: #fff;
    margin: 0.25em;
}

.secao_inicio-botao button {
    color: white;
    text-decoration: none;
    padding: 15px 64px;
    font-size: 1em;
    border-radius: 25px;
    font-weight: 600;
    background-color: #274A82;
    border: none;
    cursor: pointer;
    z-index: 100;
    transition: background .2s ease-in-out;
}

.secao_inicio-botao button:hover {
    background: #233e69;
}

.secao_inicio-botao button:active {
    transform: scale(0.95);
}

.img-background {
    position: absolute;
    width: 100vw;
    height: 90vh;
}

.img-background img {
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.serie {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #000;
    color: white;
    font-weight: 200;
    font-size: 2.5em;
    padding: 1em;
}


.serie h2 {
    font-weight: 600;
    margin: 0px 0 16px 7.5vw;
    font-size: 1em;
}

.flexbox {
    display: flex; 
    align-items: center; 
    justify-content: center;
    gap: 24px;
}

.serie_img-text {
    position: relative;
}

.serie_grow {
    position: absolute;
    background: rgba(255,255,255, 0.5);
    height: 0px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.serie_img-text:hover>.serie_grow {
    animation: grow 0.3s forwards ease-in;
    overflow: hidden;
}

@keyframes grow {
    from {
        height: 0px;
    }

    to {
        height: calc(100% - 6px);
    }
}

.serie_img-text p {
    position: absolute;
    z-index: 2;
    color: #000;
    font-weight: 600;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -50px;
    
}

.serie_img-text img {
    padding: 3px;
    width: 400px;
    border-radius: 10px;
}

.titulo_conheca {
    text-align: center;
    font-size: 3rem;
    color: #00004d;
    padding: 2.5em 2em 1.5em;
    font-weight: 700;
}

.sobre_nos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5em 0 1em;
    font-size: 4.5em;
    margin-left: 20px;
}
.sobre_nos, .titulo_conheca {
    border-right: 2px solid #000;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2.5em;
    font-size: 0.25em;
    margin-left: 20px;
}

.material-symbols-outlined {
    color: #ff471a;
    font-size: 2em;
}

.icons p {
    color: #00004d;
    font-size: 50px;
    font-weight: bold
}

.icons h1 {
    font-size: 17px;
    color: #8c8c8c;
}