.titulo {
    text-align: right;
    font-size: 3rem;
    color: #000066;
    font-weight: bold;
    text-align: center;
}

.titulo-secao {
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    margin: 2em auto 1em 0;
    color: #050555;
}

.texto {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #050555;
    width: 40%;
    text-align: justify;
    letter-spacing: 1px;
}

.sobre {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin-bottom: 5em;
}

.sobre img {
    height: 300px;
}

.programar_img {
    height: 350px;
}

.programar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.texto span {
    font-weight: 700;
}

.fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vetor {
    width: 150px;
    height: fit-content;
}

.botao_link {
    background: #1457A1;
    padding: 1em 1.5em;
    font-size: 1.25em;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    margin: 8px 0 16px;
    text-transform: uppercase;
}

.botao_link:hover {
    background: #0f447c;
}

.botao_link:active {
    scale: 0.95;
    background: #0b345f;
}

.faca_parte {
    font-weight: bold;
    padding-top: 1rem;
}